a:hover::after{
    transition-timing-function: transform 02s ease-in-out;
    transform: scaleX(0);
}
a:hover::after{
    /* transition-timing-function: transform 02s ease-in-out; */
    transform: scaleX(1);
}
.button{
    width: 36%;
    height: 69px;
    border-radius:50px ;
    border: 2px solid black;
    background-color: blueviolet;
    text-align: center;
    padding: 11px;
    color: white;
    
}

.b1{
    color: rgba(9, 8, 10, 0.755);
    background-color: rgb(131, 92, 167);
}
.jj{ 
    opacity:55%;
    
}
.head{
    font-size:50px;
}
 .hh{
     color: rgba(39, 7, 70, 0.739);
}
@media(max-width:300px){    

button{
    width:55%;
    text-align: center;
    height: 55px;
    font-size: small;
}
h1{
    font-size: xx-small;
    flex-wrap: wrap;
    display: flex;
}
p{
    font-size:1%;
    flex-wrap: wrap;
    display: flex;
    text-align: initial;
}
#carouselExampleDark{
    height: 450px;
}

/* .b2{
    width:20%
    height: 55px;
    font-size: small;
} */

}
.b2{
    width: 36%;
    height: 83px;
    border-radius:60px ;
    border: 2px solid black;
    background-color: blueviolet;
    text-align: center;
    padding: 11px;
    color: rgb(11, 8, 8);  
}
.cc{
    color: blueviolet;
}
