a:hover::after{
    transition-timing-function: transform 02s ease-in-out;
    transform: scaleX(0);
}
a:hover::after{
    /* transition-timing-function: transform 02s ease-in-out; */
    transform: scaleX(1);
}
.button{
     /* width: 16%;  */
    /* height: 53px; */
    border-radius:30px ;
    border: 2px solid black;
    background-color: blueviolet;
    /* text-align: center; */
    padding: 5px;
    color: white;
}  


.b1{
    color: rgba(9, 8, 10, 0.755);
    background-color: rgb(131, 92, 167);
}
.jj{ 
    opacity:55%;
    
}
.head{
    font-size:50px;
}
 .hh{
     color: rgba(39, 7, 70, 0.739);
}
@media(max-width:300px){    

/* .button{
    width:55%;
    text-align: center;
    height: 55px;
    font-size: small;
} */

h1{
    font-size: xx-small;
    flex-wrap: wrap;
    display: flex;
}
p{
    font-size:1%;
    flex-wrap: wrap;
    display: flex;
    text-align: initial;
}
#carouselExampleDark{
    height: 450px;
}
}
.b3{
    border-radius:30px ;
    /* border: 2px solid black; */
    background-color: blueviolet;
    text-align: center;
    padding: 10px 20px;
    color: rgb(212, 202, 202); 
    font-size: 16px;
    cursor: pointer;
    border: none;
}
 


.b2{
    /* width: 16%; */
    /* height: 53px; */
    border-radius:30px ;
    /* border: 2px solid black; */
    background-color: blueviolet;
    text-align: center;
    padding: 10px 20px;
    color: rgb(212, 202, 202); 
    font-size: 16px;
    cursor: pointer;
    border: none;
  }

.cc{
    color: blueviolet;
    
}
@media(max-width:360){
/* .pic */
.a2{
    height: 50px;
    width: 30%;

}
}
/* .y1{
    width:50% ;
    height: 50px;
} */
.a2{
    height: 50px;
    width: 30%;

}
.pic{
 width: 100%;
}
.hj{
    text-align: center;
    color: rgb(112, 48, 172);
    
}
span{
    color: rgba(75, 4, 142, 0.601);
}
.p1{
    width: 100%;
    /* margin-right: 20px; */
}
 .row1{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

h5{
    color: blueviolet;
}
/* .cb{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

} */
.card:hover{
    transform: scale(1.04);
    cursor:pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.row:hover{
    transform: scale(1.04);
    cursor:pointer;
}
.firstbar{
    background-color: blueviolet;
}
.bh{
    background-color: blueviolet;
}